:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: Roboto, 'Roboto', Arial, Helvetica, sans-serif;

  /*
   * Colours
   * ======================================================================== */
  --colour-primary: rgba(26, 35, 126, 1);
  --colour-primary-darker: rgba(22, 29, 105, 1);
  --colour-secondary: rgba(255, 255, 255, 1);
  --colour-limonata: rgba(240, 212, 63, 1);
  --colour-aranciata: rgba(225, 160, 60, 1);
  --colour-fico: rgba(244, 186, 186, 1);
  --colour-sanbitter: rgba(199, 34, 34, 1);

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}
